{
	"id": "balatrero",
	"name": "balatrero",
	"display_name": "balatrero",
	"author": ["Firch, RENREN, Peas, minichibis, J.D., Guwahavel, Ciirulean, ejwu"],
	"description": "A mod that aims to add more content in a way that'd seamlessly exist within the vanilla Balatro!",
	"prefix": "bal",
	"main_file": "balatrero.lua",
	"version": "5.1",
	"conflicts": [
        "Lovely (<<0.7.1)",
		"Talisman (<=2.0.3)"
    ]
}